<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <script type="text/javascript" src="/static/index.js"></script>
    <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>

<style>
#myDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -50px;
}
.mouseOver{
    background-color: #708090;
    color:#FFFAFA;
}
.mouseOut{
    background-color: #FFFAFA;
    color:#000000;
}
</style>
</head>
<body>

    <div id="myDiv">
        <form action="/results" method="get">
        <input type="text" size="50" name="q" id="keyword" onkeyup="getMoreContents()" onfocus="getMoreContents()" onblur="clearContent()" style="width: 500px;height: 40px"/>
        <input type="submit" value="搜索一下" style="width: 80px" id="But"/>
        </form>
        <div id="popDiv">
            <table id="content_table" bgcolor="#FFFAFA" border="0"
                cellspacing="0" cellpadding="0">
                <tbody id="content_table_body">
                    <!-- 动态数据在这里显示 -->

                </tbody>
            </table>
        </div>

    </div>

</body>

<script>
    $("#myDiv").onclick=function(){
        alert('1')
    }

</script>
</html>